<!-- Marketing messaging and featurettes -->
<div class="marketing">
      <!-- Three columns of text below carousel -->
      <div class="row" id="technologies">
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="http://via.placeholder.com/140x140" alt="placeholer image" width="140" height="140"> -->
          <i class="fas fa-code fa-4x" style="color: rgb(72, 165, 241)"></i>
          
          <h2>Languages</h2> 
          <p><i class="devicon-javascript-plain colored"></i> Javascript</p>
          <p><i class="devicon-python-plain colored"></i> Python</p>
          <p><i class="devicon-swift-plain colored"></i> Swift</p>
          <p><i class="devicon-html5-plain colored"></i> HTML5</p>
          <p><i class="devicon-css3-plain colored"></i> CSS3</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="http://via.placeholder.com/140x140" alt="placeholer image" width="140" height="140"> -->
          <i class="fas fa-book fa-4x" style="color: rgb(72, 165, 241)"></i>
          <h2>Frameworks/Libraries</h2> 
          <p><i class="devicon-angularjs-plain colored"></i> Angular 4</p>
          <p><i class="devicon-nodejs-plain colored"></i> Node.js</p>
          <p><i class="devicon-express-original colored"></i> Express</p>
          <p><i class="devicon-bower-plain colored"></i> Bower</p>
          <p><i class="devicon-django-plain colored"></i> Django</p>
          <p><i class="devicon-bootstrap-plain colored"></i> Bootstrap 4</p>
          <p><i class="devicon-jquery-plain colored"></i> jQuery</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="http://via.placeholder.com/140x140" alt="placeholder image" width="140" height="140"> -->
          <i class="fas fa-database fa-4x" style="color: rgb(72, 165, 241)"></i>
          <h2>Databases</h2> 
          <p><i class="devicon-mongodb-plain colored"></i> MongoDB</p>
          <p><i class="devicon-mysql-plain colored"></i> MySQL</p>
          <p id="spacer"> SQLite</p>
          <p id="spacer"> CoreData</p>
          <p id="spacer"> NoSQL</p>
          <p id="spacer"> Mongoose</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
      <!-- START THE FEATURETTES -->
      <div class="container">
      <!-- <hr class="featurette-divider" > -->
      <div class="row featurette" id="portfolio">
        <div class="col-md-7">
          <div class="featurette-heading">
            Zap Bam Pow 
          </div>
          <div class="featurette-subheading text-muted">//Swift 4 > ARKit > sockets.io > Node.js</div>
          <p class="lead">
              An award-winning, networked iOS game employing ARKit (Apple's augmented reality developer tools), Sockets.IO, and Node.js. Developed over 3 days using Agile methods, I coded the game-play component of the app, based on the ARKit's QR-code recognition capability.
          </p>
          <p class="figure-caption text-right text-muted">
            Team: Olivier Butler, Wura Alesse, Lantz Warrick | Video: C. Haberman, O. Butler
          </p>
        </div>
        <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9" style="margin-top: 0.5rem">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Yhwohl7K5AU?rel=0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>        
        </div>
      </div>
      <!-- <hr class="featurette-divider"> -->
  </div>
</div>