<!-- <div class="container about"> -->
  <div class="row about" id="about">
      <div class="col-md-7 order-md-2">
          <h2 class="about-heading text-muted">
              About Me
            </h2>
            <h2 class="about-subheading">Lantz Warrick</h2>
            <p class="lead">
                I am a Web/iOS Developer knowledgeable in Python, Javascript and Swift, with a passion for innovative technology. My liberal arts education, combined with nearly a decade as a language educator and entrepreneur, has taught me how to ask the right questions to identify core problems, and given me the intellectual tools to solve them. I am seeking an opportunity to collaborate with a team building creative web products which positively impact lives and communities.
            </p>
            <p><a class="btn btn-lg btn-primary" href="../../assets/LW_resume_wbmb2.pdf" download="Lantz Resume" role="button">Download Resume</a>
            <a class="btn btn-lg btn-primary" href="../../assets/LW_resume_wbmb2.pdf" role="button">View Resume</a>
            <a class="btn btn-lg btn-primary" href="mailto:betalantz@gmail.com?Subject=Portfolio%20inquiry" role="button">Email Me</a>
            </p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="rounded-circle img-fluid" src="../../assets/20171116-DSC_5014.jpg" alt="Headshot of Lantz" width="250" height="250" style="margin-top: 6rem; margin-left: 6rem">
      </div>
  </div>
<!-- </div> -->
<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2018 Betalantz</p>
</footer>